$light-gray: #e8e5eb;
$medium-gray: #686868;
$dark-gray: #4a4a4a;

$table-gray: #757575;

$btn-background-gray: #d1d1d1;
$btn-label-gray: #6e6e6e;

$light-blue: #63b6ff;
$dark-blue: #00084d;

$light-purple: #7047fe;
$medium-purple: #753396;
$dark-purple: #341345;

$error: #b61e3e;

$card-blue: #6c81bb;

$card-green: #9bc668;
$card-orange: #f0b469;
$card-red: #db3831;

$prospect: #8a0541;
$struct: #007784;
